:root {
  --mui-shape-borderRadius: 16px;
}

.App {
  text-align: center;
}

.Box {
  border-radius: var(--mui-shape-borderRadius);
  padding: 24px;
}

.Container {
  display: flex;
  flex-wrap: wrap;
}
