/* 変数 */
:root {
  --mui-shape-borderRadius: 16px;
}

/* 背景色 */
body {
  background-color: gainsboro;
}

/* 区切り線 */
hr {
  margin: 16px;
}

/* タイトル */
.title {
  text-align: center;
}

/* 白四角 */
.container {
  background-color: white;
  border-radius: var(--mui-shape-borderRadius);
  margin: 16px;
  padding: 16px;
}

/* 画像＆タイプ・種族値 */
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* 画像の親 */
.image-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 64px;
  height: 64px;
}

/* 画像 */
.image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  object-fit: scale-down;
}

/* テキストの親 */
.text-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: center;
}

/* テキスト */
.text-wrap span {
  font-size: 0.875rem;
}

/* Autocompleteの親 */
.ac-wrap {
  padding-inline: 16px;
  margin-block: 16px;
}

.ac-wrap span {
  margin: 16px;
}
